# Copyright (c) 2022 Bjarki Arge Andreasen
# SPDX-License-Identifier: Apache-2.0

config RTC_EMUL
	bool "Emulated RTC driver"
	default y
	depends on DT_HAS_ZEPHYR_RTC_EMUL_ENABLED
	help
	  Enable emulated Real-Time Clock (RTC) driver.

config RTC_EMUL_SAVE_PERIOD_SEC
	int "RTC emulation periodic save period (seconds)"
	default 60
	help
	  Set the period in seconds for how often the emulated RTC time is saved
	  to persistent storage. A value of 0 disables periodic saving.
